pkgbase = tree-sitter-cpp
	pkgdesc = Cpp grammar for tree-sitter
	pkgver = 0.23.4
	pkgrel = 1
	url = https://github.com/tree-sitter/tree-sitter-cpp
	arch = x86_64
	groups = tree-sitter-grammars
	license = MIT
	makedepends = git
	makedepends = tree-sitter-cli
	optdepends = tree-sitter: core library
	provides = libtree-sitter-cpp.so
	noextract = tree-sitter-cpp.tar.gz
	source = tree-sitter-cpp.tar.gz::https://github.com/tree-sitter/tree-sitter-cpp/releases/download/v0.23.4/tree-sitter-cpp.tar.xz
	b2sums = 409f866165e81845ace0e59e388477b254de3b2d099370d7a0d580adaa7de889d8d55915caff35102be33e174dae40ac56815190cbf300f8128d7d51fe0ed7e5

pkgname = tree-sitter-cpp
