pkgbase = llama-cpp
	pkgdesc = LLM inference in C/C++
	pkgver = b9842
	pkgrel = 1
	url = https://github.com/ggml-org/llama.cpp
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = openblas
	depends = glibc
	depends = gcc-libs
	provides = llama.cpp
	provides = ggml
	provides = libggml
	conflicts = llama.cpp
	conflicts = ggml
	conflicts = libggml
	source = llama-cpp-b9842.tar.gz::https://github.com/ggml-org/llama.cpp/archive/refs/tags/b9842.tar.gz
	sha256sums = 5fe27c1b2c147798ce08c883d027895c65a4ae4cfc6bd42c3088f890cac1576c

pkgname = llama-cpp
